.JournalEntries {
  display: flex;
  flex-direction: column;
}

.EntryContainer {
  display: flex;
  flex-direction: column;
  top: -10em;
}
.Entry {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  transition: transform 50ms;
}
.Entry:hover {
  transform: scale(1.01);
}
.Entry > p {
  padding-inline: 0.2em;
  text-align: center;
}

.options > * {
  font-size: 1em !important;
}
