.field {
}
.field::after {
  content: ":";
}

.info-item {
  display: flex;
  flex-direction: row;
  margin-block: 0.5rem;
  justify-content: space-between;
  width: 25%;
}
.info-item > .value {
  opacity: 1;
  font-size: 1rem;
  margin-inline: 0.5rem;
}
