.field {
}
.field::after {
  content: ":";
}

.info-item {
  display: flex;
  flex-direction: row;
  margin-block: 1.2rem;
  font-size: 1.1rem;
  justify-content: space-between;
}
.info-item > .value {
  opacity: 1;
  font-size: 1.1rem;
  margin-inline: 0.5rem;
  text-align: center;
}

.view-button-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
