.credit-form {
  display: flex;
  margin-left: 6rem;
}
.credit-form > label {
  font-size: 1.1rem;
  margin-top: 0.25rem;
}

.expense-id {
  font-size: 0.8rem;
  color: grey;
  margin-left: 1rem;
}
.expense-id::before {
  content: "#";
}
.expense-description {
  margin-left: 1rem;
  background: rgb(41, 40, 40);
  padding: 0.3rem;
  margin-inline: 1rem;
}
credit-form > select {
  width: 52%;
  padding: 4px;
}
