option {
  text-transform: capitalize;
}

.expenseContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60vw;
  margin-inline: auto;
}
.expenseContainer > Button {
  margin-inline: auto;
}

.ExpenseList {
  background: var(--darkBackground);
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
}
.expenseListItem {
  display: flex;
  flex-direction: row;
}
.expenseListItem > * {
  margin-inline: 0.75em;
  text-transform: capitalize;
}
.expenseListItem:hover {
  background: var(--darkBackgroundHover);
}

.expenseOptions > * {
  cursor: pointer;
}
