option {
  text-transform: capitalize;
}

.expenseContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60vw;
  margin-inline: auto;
}
.expenseContainer > Button {
  margin-inline: auto;
}
.expense-filter-list {
  margin-left: auto;
}

.ExpenseList {
  background: var(--darkBackground);
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
  border-radius: 5px;
}
.expenseListItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 100ms 100ms;
}
.expenseListItem:not(.headings):hover {
  margin-block: 0.5em;
  background: var(--darkBackgroundHover);
}
.headings > * {
  font-size: 1.15em;
}
.listOptions {
  margin-left: auto;
  width: 8%;
  margin-right: 0.75em;
}

.listOptions > * {
  font-size: 1em !important;
  margin-inline: 0.2em;
}

.listOptions > p:hover {
  background: var(--darkBackgroundHover);
  cursor: pointer;
}
.expenseListItem > * {
  margin-inline: 0.75em;
  text-transform: capitalize;
}

.expenseOptions > * {
  cursor: pointer;
  font-size: 1.25em !important;
}
