.JournalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60vw;
  margin-inline: auto;
}
.JournalList {
  background: var(--darkBackground);
}
.JournalContainer > p {
  font-size: 2em;
}

.JournalItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background: var(--darkBackground); */
  transition: all 100ms 100ms;
  margin-block: 0.1em;
}

.JournalItem:not(.headings):hover {
  margin-block: 0.5em;
  background: var(--darkBackgroundHover);
}
.JournalItem > p {
  margin-inline: 0.5em;
}

.completedBox:hover {
  cursor: pointer;
}

.material-icons {
  font-size: 1.25em;
  cursor: pointer;
}
.headings > * {
  font-size: 1.15em;
  text-align: left;
}

.options > * {
  margin-inline: 0.1em;
}
