.JournalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  margin-inline: auto;
}

.JournalContainer > p {
  font-size: 1.25em;
}

.JournalItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--darkBackground);
  transition: all 100ms 100ms;
  margin-block: 0.1em;
}

.JournalItem:hover {
  transform: translate(0.3em);
  margin-block: 0.25em;
}
.JournalItem > p {
  margin-inline: 0.5em;
}

.completedBox:hover {
  cursor: pointer;
}

.material-icons {
  font-size: 1.25em;
  cursor: pointer;
}
.options > * {
  margin-inline: 0.1em;
}
